<h3>Create Employee</h3>
<div [hidden]="submitted" style="width: 400px;">

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">First Name</label>
            <input type="text" formControlName="name" class="form-control" id="firstName" required minlength="2">
        </div>

        <div class="form-group">
            <label for="name">Last Name</label>
            <input type="text" formControlName="surname" class="form-control" minlength="2" required>
        </div>

        <div class="form-group">
            <label for="name">Age</label>
            <input type="number" formControlName="age" class="form-control" required min="18">
        </div>

        <select class="form-group" formControlName="gender" [(ngModel)]="customer.gender">
            <option value="MALE">Male</option>
            <option value="FEMALE">Female</option>
        </select>

        <button type="submit" class="btn btn-success">Submit</button>

    </form>
</div>

<div [hidden]="!submitted">
    <h4>You submitted successfully!</h4>
</div>